#Title {
    position: fixed;
    top:0;
    left: 0;
    right:0;
    text-align: center;
    background: black;
    border-top-color: black;
    margin: 0%;
    color:white;
    padding-top: 15px;
    padding-bottom: 15px;
    
    
}

#Traveaux, h1 {
    top:49px;
    position: fixed;
    border-color: SkyBlue;
    background: black;
    border-style:solid;
    color: white;
    padding: 10px;
    left: 0;
    border-width: 2px;
        
}
#Back{
    position: fixed;
    right: 5px;
    top: 72px;
    height: 50px;
    border:red solid 2px;
    padding: 0px;
    
}
#Back:hover, h1:hover {
    height: 70px;
}
#Poem {
    top:500px;;
    position: fixed;
    left:20%;
}
#voyageParfait {
    top:500px;
    position: fixed;
    right:20%;
}
#Biography {
    top:500px;
    position: fixed;
    left:40%;
    right: 40%;
    text-align: center;
}
#Poem:hover, #voyageParfait:hover, #Biography:hover {
    font-size: 20px;
}
  
